/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
}

 section ul li {
	 margin-bottom:20px;

 }


table {
	border-collapse: collapse;
	border-spacing: 0;
}

.more li {
	padding-bottom: 20px;
}

/*comps*/

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

.mainnav a {
	display: inline-block;
	padding: 20px 0 20px 0;
	margin-left: 40px;


}

.mainnav a {
  color:#efefef;
	text-decoration: none;

}

.mainnav a:hover {
	color: #fff;
	transform: translateY(-4px);
	transition: transform .2s;


}

a {
	color: #20A39E;
	text-decoration: none;
	font-weight: 700;
	border-bottom: 2px solid rgba(255,255,255,0);

}

header a, header a:hover, .mobile a, .mobile a:hover {
	border:none;
}



button a {
	display: block;
	padding: 10px;
}

a:hover {
	transition: border-bottom 0.2s;
	border-bottom: 2px solid #20A39E;
}





.mainnav a.active {
	color: #fff;
}

.logo a {
	font-size: 48px;
	line-height: 48px;
	color: #fff;
	font-weight: 800;
}

.logo a:hover {
	transform: translateY(-4px);
	transition: transform .2s;
}



.logo span {
	color:#20A39E;
display:inline-block;}

.logos svg {max-height: 40px;}

q {
	font-size: 32px;
	font-weight: 800;
	padding:40px 0 40px 0;
	margin-bottom: 20px;
	border-radius: 5px;
	display: block;
}

q::before {
	color: rgb(239, 131, 104);
	content: ' “ ';

}

q::after {
	color: rgb(239, 131, 104);
	content: ' ” ';

}

body {
	background-color: rgba(250,250,250,1);
	color: rgba(0, 42, 59,0.85);
	font-family: 'Rubik', helvetica, arial, sans-serif;
	font-size: 26px;
	margin: auto;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	min-height: 100vh;
	overflow: scroll;
}

button[type="submit"] {
	padding: 10px;
	display: block;
}

button,
input[type="submit"],a.likebutton {
	font-family: 'Rubik', helvetica, arial, sans-serif;
	font-weight: 700;
	border-radius: 20px;
	border: none;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	margin: 20px 0 20px 0;
	outline: none;
	text-align: center;
	width: 100%;
	max-width: 200px;
	font-size: 18px;
	display: block;
}

button.primary,
input[type="submit"],a.likebutton {
	background-color: #20A39E;
	color: #fff;
}

button.primary a, a.likebutton {
	color: #fff;
}

button.secondary {
	background: #fafafa;
	color: rgba(0, 41, 54, 1);
}

button.primary:hover,
input[type="submit"]:hover,a.likebutton:hover {
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	background-color: #19807C;
	color: #fff;
	transform: scale(0.95);
	transition: transform 0.1s;
	transition-timing-function: ease-in-out;
}

button.secondary:hover {
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	background-color: #fff;
	transform: scale(0.95);
	transition: transform 0.1s;
	transition-timing-function: ease-in-out;
}

button:active,
input[type="submit"]:active,a.likebutton:active {
	transform: scale(0.9);
	transition: transform 0.1s;
	transition-timing-function: ease-in-out;
}

.bignumber {
	font-size: 48px;

}
a.likebutton {
	padding: 10px;
	display: flex;
align-items: center;
justify-content: center;
}

a.likebutton.disabled:hover,
a.likebutton.disabled:active{
	transform: scale(1);
	box-shadow: 0;
}

a.likebutton.disabled {
	opacity: 0.4;
}

.tasks li:before {
	content: ' ✔ ';
}

#process li, #goals li,#principles li{
	margin-bottom: 40px;
}

.tasks li {
	margin-bottom: 20px;
}

footer p {
	margin: 0;
}

.card {
	margin-bottom: 40px;
}

.centered {
	margin: 0 auto;
	max-width:1000px;
	padding: 40px;
}

.iframe {
	padding-bottom:20px;
}


.head {
	background-color: #F0F6F8;
	padding: 20px;
	border-radius: 5px;
	font-size: 14px;
}

ul.links li {
	display: inline-block;
	margin-right: 10px;
	margin-top: 20px;
}

.links a {
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 20px;
}

.head button {
	font-size: 14px;
	width: 1000px;
}

em {
	font-weight: 700;
}

figure {
	margin: 0;
	padding: 0;
}


figure img {
	margin: 0;
}

figcaption{
color:rgba(0,42,59,0.85);
display: flex;
font-size: 16px;
align-items: center;
justify-content: center;
margin-bottom: 20px;

}

footer h4 {
	margin-bottom: 10px;
}

footer nav li {
	display: block;
}

footer a {
	font-size: 14px;
	padding: 10px 0;
	display: inline-block;
	color: #fff;
	font-weight: 400;
}
footer p {
		color: #fff;
}

header {
	color: #fff;
	width: 100%;
	background-color:  #002A3B;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
	opacity: 0.95;


}

.header {
	display: flex;
	align-items: center;

		margin: 0 auto;
		max-width: 1000px;
		padding: 20px;
}

footer {
	color: #fff;
	bottom: 0;
	width: 100%;
	background-color: #002B3E;
}

#wicon {
	margin-right: 10px;
}

footer nav {
	display: inline-grid;
	grid-template-columns: auto auto auto;
	grid-gap: 4%;
	width: 100%;
}

img {
	margin: 20px 0 40px 0;
	padding:1px;
	background-color: #fff;
	border-radius: 5px;
	border: 5px solid #fff;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
	width:100%;
}

.width-100 {
	width: 100%;
}

.sticky-top {
	position: sticky;
	top: 0;
	z-index: 2;
	margin-top: 0;
}

.flex {display: flex}
.justify-space-between {justify-content: space-between;}
.justify-space-around {justify-content: space-around;}
.align-items-center {align-items: center;}
.margin-right-big {margin-right:80px;}
.margin-bottom-big {margin-bottom:40px;}

h1 {
	font-size: 64px;
	margin-bottom: 40px;

}

h2 {
	font-size: 40px;
	margin-bottom: 20px;

}

h3 {
	font-size: 32px;
	margin-bottom: 20px;

}

h4 {
	font-size: 20px;
	margin-bottom: 20px;

}

h1,
h2,
h3,
h4 {

	font-weight: 800;
	color: rgba(0, 42, 59,1);


}

label {
	margin-bottom: 10px;
	display: inline-block;
	font-size: 14px;
}

input,
textarea,
select {
	font-family: "Rubik", helvetica, arial, sans-serif;
	background-color: #F0F6F8;
	border: 1px solid rgba(0, 41, 54, 0.1);
	border-radius: 5px;
	display: block;
	font-size: 18px;
	margin-bottom: 20px;
	padding: 20px;
	outline: none;
	width: 100%;
}

input:hover,
textarea:hover,
select {
	background-color: #FFF;
	border: 1px solid rgba(0, 41, 54, 0.1);
}

.mainnav {
	display: flex;


}

.wrapper {
	min-height: 100vh;
	overflow: hidden;
	display: block;
	position: relative;
}


/*only for UI*/

.wrapperui {
	padding: 80px;
}

p {
	margin: 0 0 40px 0;

}

.module {
	margin-bottom: 40px;
}



::placeholder {
	color: rgba(0, 41, 54, 0.4);
}

svg {
	max-width: 100%;
}

.crossed {
	text-decoration: line-through;
}

.concept {

	background-color: rgba(0, 41, 54, 1);
	padding: 4px;
	border-radius: 2px;
	font-size: 10px;
	width: 60px;
	margin-bottom: 20px;
	color:#fff;
	text-align: center;
	text-transform: uppercase;
	font-weight: 800;

}

ul {
	list-style-type: none;
	padding-left: 0px;

}

ul {
	list-style-type: disc;
	padding-left: 20px;
	margin-bottom: 10px;

}

#hot1 {
	stroke-dasharray: 2000;
	animation: hot1 3s linear infinite;
}

@keyframes hot1 {
	to {
		stroke-dashoffset: 2000;
	}
}


.case svg {
		margin-bottom:20px;
		max-height: 60px;


}
.case {
	background-color: #fff;
	padding:40px;
	border-radius: 5px;
	box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.1);
	display:flex;
	flex-direction: column;
	justify-content: center;

}

.case:hover {
	background-color: #fff;
	padding:40px;
	border-radius: 5px;
	box-shadow: 10px 10px 20px 1px rgba(0,0,0,0.1);
	transition: box-shadow 0.3s;
}




/*Experimental*/

.gridwrapper1 {
	grid-template-columns: 69% 30%;
	grid-gap: 40px;
	grid-row-gap: 20px;
		width: 100%;
	align-content: center;
	justify-content: center;
}

.gridwrapper2 {
	width: 100%;
}

.gridwrapper3 {
	display: inline-grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	grid-row-gap: 20px;
		width: 100%;
	align-content: center;
	justify-content: center;
}




/*Experimental*/

.grid {
	margin-bottom: 20px;
}



/*animation*/

#greenlight {
	opacity: 1;
	animation-name: greenlight;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes greenlight {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#lefte {
	animation-name: eyel;
	animation-iteration-count: infinite;
	animation-duration: 5s;
	animation-timing-function: ease;
}

@keyframes eyel {
	0% {
		transform: translate(0, 0)
	}
	25% {
		transform: translate(0, 0)
	}
	26% {
		transform: translate(0, -10px)
	}
	50% {
		transform: translate(0, -10px)
	}
	75% {
		transform: translate(0, -10px)
	}
	100% {
		transform: translate(0, 0)
	}
}

#righte {
	animation-name: eyer;
	animation-iteration-count: infinite;
	animation-duration: 5s;
	animation-timing-function: ease;
}

@keyframes eyer {
	0% {
		transform: translate(0, 0)
	}
	25% {
		transform: translate(0, 0)
	}
	26% {
		transform: translate(0, 5px)
	}
	50% {
		transform: translate(0, 5px)
	}
	75% {
		transform: translate(0, 5px)
	}
	100% {
		transform: translate(0, 0)
	}
}

#head {
	animation-name: face;
	animation-iteration-count: infinite;
	animation-duration: 5s;
	animation-timing-function: ease;
}

@keyframes face {
	0% {
		transform: translate(200px, 200px)
	}
	25% {
		transform: translate(150px, 50px)
	}
	26% {
		transform: translate(150px, 50px)
	}
	50% {
		transform: translate(150px, 50px)
	}
	75% {
		transform: translate(150px, 50px)
	}
	100% {
		transform: translate(200px, 200px)
	}
}

#world {
	animation-name: spinworld;
	animation-iteration-count: infinite;
	animation-duration: 60s;
	transform: rotate(0deg);
	transform-origin: 225px 225px;
	animation-timing-function: linear;
}

@keyframes spinworld {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

#rocket2 {
	animation-name: rocketfly2;
	animation-iteration-count: infinite;
	animation-duration: 0.1s;
	animation-timing-function: ease;
}

@keyframes rocketfly2 {
	0% {
		transform: translate(225px, 197px) rotate(-360deg) translate(-223px, -196px) translate(59px, 92px);
	}
	100% {
		transform: translate(224px, 196px) rotate(-360deg) translate(-222px, -195px) translate(58px, 91px);
	}
}

@keyframes stars {
	0% {
		transform: translateX(0px) translateY(0);
		opacity: 0;
	}
	100% {
		transform: translateX(-500px) translateY(300px);
		opacity: 0.7;
	}
}

@keyframes moon {
	0% {
		transform: translateX(400px) translateY(100px);
		opacity: 0.5;
	}
	50% {
		transform: translateX(100px) translateY(200px);
		opacity: 1;
	}
	100% {
		transform: translateX(-50px) translateY(300px);
		opacity: 0;
	}
}

#moon {
	animation-name: moon;
	opacity: 0;
	animation-iteration-count: infinite;
	animation-duration: 10s;
	animation-timing-function: linear;
}

#stars {
	animation-name: stars;
	animation-iteration-count: infinite;
	animation-duration: 0.5s;
	animation-timing-function: linear;
}

#flame {
	animation-name: flame;
	animation-iteration-count: infinite;
	animation-duration: 0.1s;
	animation-timing-function: ease;
}

@keyframes flame {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes clouds {
	0% {
		transform: translateX(0);
		opacity: 0
	}
	50% {
		transform: translateX(85px);
		opacity: 1
	}
	100% {
		transform: translateX(150px);
		opacity: 0
	}
}

@keyframes clouds2 {
	0% {
		transform: translateX(0);
		opacity: 0
	}
	50% {
		transform: translateX(100px);
		opacity: 1
	}
	100% {
		transform: translateX(250px);
		opacity: 0
	}
}

#cloud2 {
	animation-name: clouds2;
	animation-iteration-count: infinite;
	animation-duration: 25s;
	animation-timing-function: linear;
}

#cloud {
	animation-name: clouds;
	animation-iteration-count: infinite;
	animation-duration: 20s;
	animation-timing-function: linear;
}

@keyframes lights {
	0% {
		fill: #17D6D8;
	}
	50% {
		fill: white;
	}
	100% {
		fill: #17D6D8;
	}
}

#verde {
	animation-name: lights;
	animation-iteration-count: infinite;
	animation-duration: 5s;
	animation-timing-function: ease;
}

@keyframes cursor {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}

#dash {
	animation-name: cursor;
	animation-iteration-count: infinite;
	animation-duration: 0.7s;
	animation-timing-function: linear;
}

@keyframes drink {
	0% {
		stroke-dashoffset: 20;
	}
	100% {
		stroke-dashoffset: 0;
	}
}

#hot1 {
	opacity: 0.8;
	stroke-dasharray: 10;
	stroke-dashoffset: 20;
	animation-name: drink;
	animation-iteration-count: infinite;
	animation-duration: 0.8s;
	animation-timing-function: linear;
}

@keyframes baloon {
	0% {
		transform: rotate(-14deg) translate(190px, 40px);
	}
	50% {
		transform: rotate(0deg) translate(190px, 40px);
	}
	100% {
		transform: rotate(-14deg) translate(190px, 40px);
	}
}

#baloon {
	transform: translate(190px, 40px) rotate(0deg);
	transform-origin: 220px 220px;
	animation-name: baloon;
	animation-iteration-count: infinite;
	animation-duration: 3s;
	animation-timing-function: linear;
}

@keyframes float {
	0% {
		transform: translate(10px, 10px);
		opacity: 0;
	}
	50% {
		transform: translate(10px, -100px);
		opacity: 0.5;
	}
	100% {
		transform: translate(10px, -200px);
		opacity: 0;
	}
}

@keyframes float6 {
	0% {
		transform: translate(-70px, 10px);
		opacity: 0;
	}
	50% {
		transform: translate(-70px, -60px);
		opacity: 0.5;
	}
	100% {
		transform: translate(-70px, -110px);
		opacity: 0;
	}
}

#clouda {
	transform: translate(0, 0);
	transform-origin: 220px 220px;
	animation-name: float;
	animation-iteration-count: infinite;
	animation-duration: 12s;
	animation-timing-function: linear;
}

#cloud6 {
	opacity: 0;
	transform: translate(100px, 30px) rotate(0deg);
	animation-name: float6;
	animation-iteration-count: infinite;
	animation-duration: 14s;
	animation-timing-function: linear;
}

@keyframes flyb {
	0% {
		transform: translate(100px, 329px) rotate(2deg);
		opacity: 0
	}
	50% {
		transform: translate(110px, 229px) rotate(20deg);
		opacity: 1
	}
	100% {
		transform: translate(100px, 129px) rotate(-10deg);
		opacity: 0
	}
}

#kidbal {
	opacity: 0;
	animation-name: flyb;
	animation-iteration-count: infinite;
	animation-duration: 12s;
	animation-delay: 10s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes hole {
	0% {
		opacity: 0;
		) fill: rgba(0, 41, 54, 1);
	}
	5% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		fill: rgba(0, 41, 54, 1);
	}
}

#hole {
	opacity: 0;
	animation-name: hole;
	animation-duration: 10s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
}

@keyframes takeoff {
	0% {
		transform: translate(6px, 600px) rotate(-90deg);
		opacity: 0;
	}
	15% {
		transform: translate(6px, 350px) rotate(-90deg);
		opacity: 0;
	}
	30% {
		transform: translate(6px, 180px) rotate(-90deg);
		opacity: 1;
	}
	80% {
		transform: translate(6px, 100px) rotate(-30deg);
		opacity: 1;
	}
	90% {
		transform: translate(0px, 140px) rotate(-30deg);
		opacity: 1;
	}
	100% {
		transform: translate(3000px, -3000px) rotate(60deg);
		opacity: 0;
	}
}

#rocket3 {
	opacity: 0;
	transform: translate(6px, 450px) rotate(-90deg);
	animation-name: takeoff;
	animation-duration: 3s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes door {
	0% {
		stroke-width: 0
	}
	50% {
		stroke-width: 8px
	}
	100% {
		stroke-width: 0
	}
}

#door {
	stroke-linecap: round;
	stroke-width: 0;
	animation-name: door;
	animation-duration: 3s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
}

#cohete {
	transform-origin: 70px 100px;
	animation-name: vibrate;
	animation-duration: 0.1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes vibrate {
	0% {
		transform: translatex(2px) rotate(90deg);
	}
	100% {
		transform: translatex(0px) rotate(90deg);
	}
}

@keyframes flame2 {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#flame2 {
	opacity: 0;
	transform-origin: 0 0;
	animation-name: flame2;
	animation-duration: 0.1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
}

.menu {
	display: none;
}

@media only screen and (max-width: 760px) {
	body {
		font-size: 18px;
	}
	h1 {
		font-size: 32px;
		margin-bottom: 10px;
	}
	h2 {
		font-size: 24px;
	}
	h3 {
		font-size: 20px;
	}
	h4 {
		font-size: 16px;
	}
	p {
		margin: 0 0 20px 0;
	}


	.case {
		margin-bottom: 20px;

	}




	.hamburger {
		width: 44px;
		position: absolute;
		right: 20px;
		top: 20px;
	}
	button.hamburger {
		background-color: #20A39E;
		padding: 10px;
		color: #fff;
		font-size: 22px;
		min-width: 44px;
		margin: 0;
	}
	.mainnav {
		display: none;
	}


	label {
		margin-bottom: 10px;
		display: inline-block;
		font-size: 12px;
	}
	#mobile-menu {
		display: none;
	}
	#mobile-menu {
		background-color: rgba(0, 42, 59,1);
		padding: 80px 20px 20px 20px;
		width: 100%;
		border-radius: 0 0 5px 5px;
		z-index: 3000;
		animation-name: slide;
		animation-duration: 0.3s;
		animation-timing-function: ease;
		position: sticky;
		height: 100vh;
		overflow: hidden;
		top:0;
	}

	.mobile {	position: sticky;}

	@keyframes slide {
		from {
			right: 3000px;
			opacity: 0.1
		}
		to {
			left: 0;
			opacity: 0.9;
		}
	}
	.gridwrapper1,
	.gridwrapper3 {
		display: block;
		padding: 20px 0 20px 0;
		width: 100%;
		align-content: center;
		justify-content: center;
	}
	.menu {
		display: block;
		right: 20px;
		margin: 0;
		padding: 0;
		text-align: center;
	}
	.mobile a {
		display: block;
		padding: 20px;
		margin-bottom: 10px;
		color: #fff;
		font-size: 18px;
	}
	.mobile a:hover {
		color: rgba(255, 255, 255, 0.6);
	}
	button {
		margin-bottom: 20px;
		font-size: 14px;
	}
	.card {
		overflow: hidden;
		margin-bottom: 0 ;
	}

	.mainnav {
		justify-content: center;
	}
	input,
	select,
	textarea {
		padding: 15px;
		font-size: 14px;
	}
	.centered {
		padding: 20px;
	}
	.features {
		text-align: center;
	}
	ul.features li {
		padding: 10px;
		display: block;
		width: 100%;
	}
	p {
		padding: 0 0 10px 0;
	}
	.flex {
		flex-direction: column;


	}
	.flex a {
				margin-bottom:40px;
				max-width: 50%;
	}
	.flex .margin-right-big {
		margin-right: 0;
	}
}
